.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.amount {
    text-align: left;
    flex-direction: column;
    padding-right: 120px;
    width: calc(100% - 40px);
    height: calc(20% - 40px);
}
