.panel {
    display: flex;
    justify-content: center;
    height: 190px;
    margin: 15px;
    width: 100%;
    min-width: 250px;
    align-items: center;
    border: solid 8px rgb(2, 17, 114);
}

span {
    color: black;
    font-size: 25px;
}
