.panel {
    border: 5px solid rgb(140, 128, 128);
    padding: 20px;
    flex: 1;
    width: calc(100% - 40px);
    height: 225px;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.amount {
    text-align: left;
    flex-direction: column;
    padding-right: 120px;
    width: calc(100% - 40px);
    height: calc(20% - 40px);
}
