.grid {
    display: flex;
    flex-direction: column;
    padding: 20px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

@media only screen and (min-width: 768px) {
    .grid {
        width: calc(100% - 40px);
        height: calc(100% - 40px);
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    .top-ten-mentions {
        grid-area: 1 / 3 / 3 / 4;
    }
    .most-mentions {
        grid-area: 1 / 1 / 3 / 2;
    }
    .most-bullish {
        grid-area: 1 / 2 / 2 / 3;
    }
    .most-bearish {
        grid-area: 2 / 2 / 3 / 3;
    }
}
