<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<head>
    <link rel="stylesheet" href="slide.css" />
</head>
<body>
    <div class="images-slideshow">
        <div class="imageSlides fade">
            <img src="images/img1.jpg" />
        </div>
        <div class="imageSlides fade">
            <img src="images/img2.jpg" />
        </div>
        <div class="imageSlides fade">
            <img src="images/img3.jpg" />
        </div>
        <a class="slider-btn previous" onclick="setSlides(-1)">❮</a>
        <a class="slider-btn next" onclick="setSlides(1)">❯</a>
    </div>
    <script src="slide.js"></script>
</body>
</html>
